127.0.0.1       localhost
127.0.1.1       node1.lan       node1

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters


#private network
192.168.199.10	node1
192.168.199.11	node2
192.168.199.12	node3
192.168.199.13	node4
